
body{
  background-color: black;
}



.Register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register_text{
  font-family: 'Segoe UI';
  font-weight: 800;
  color: #ccc;
  font-size: 30px;
}

form {
  width: 400px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input::placeholder{
  font-family: 'Segoe UI';
  color: black;
  font-weight: 600;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}


/* Login.css */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login_text{
  font-family: 'Segoe UI';
  font-weight: 800;
  color: #ccc;
  font-size: 30px;
}

.login-form {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.user-info {
  text-align: right;
}

.logout-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #9ebed3;
}


